<%- include('../partials/header') %>
<%- include('../partials/navbarAdmin') %>

<div class="container mt-3">
    <hr>
    <h3 class="text-center">Formulário de cadastro</h3>
    <form action="/cardapio/cadastro/save" method="post" enctype="multipart/form-data">
        <label for="nome">Nome: </label>
        <input type="text" class="form-control" name="nome">
        <label for="descricao">Descrição: </label>
        <input type="text" class="form-control" name="descricao">
        <label for="preco">Preço: </label>
        <input type="number" class="form-control" name="preco">
        <label for="image">Imagem: </label>
        <input type="file" class="form-control" name="image">
        <button type="submit" class="btn btn-dark mt-3">Salvar</button>
    </form>
</div>

<%- include('../partials/footer') %>