<footer class='fixed-bottom'>
    <div class="container-fluid mt-5 bg-dark">
        <div class="row d-flex">
        
            <h6 class="mb-3 text-white text-center">@Copyright: PizzariaDonRamon 2022</h6>

        </div>
    </div>
</footer>
</body>
</html>
 

<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>