<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Administração</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cardapio/cadastro">Cadastro Cardápio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cardapio/itemcardapio">Cardápio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/cadastro/user">Cadastro Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/users">Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contatos/itemcontato">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/logout">Deslogar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>