<%- include('partials/header') %>
<%- include('partials/navbar') %>
<style>
  
  p {
    text-align:justify;
  }
</style>

<div class="container">
  <div class="row">

    <div id="div-new">
      <h2>Sobre o restaurante</h2>

      <br>
      <p> Aqui te contaremos tudo que precisa sobre a o restaurante que mudou a vida de tantas pessoas:</p>
      <p>Seu dono se chama Roberto Gómez Bolaños, que assumiu o Restaurante a 5 anos depois da aposentadoria do seu a
        antigo dono, Carlos Villagrán.</p>


      <p>O Criador do Restaurante, Carlos Villagrán, estava passando dificuldade em 2010 após seu divórcio com Maria
        Antonieta de las Nieves passou por uma intensa depressão e teve que procurar um psiquiatra. Após muitos meses de
        tratamento e de medicamentos, Carlos resolveu que iria se esforçar para mudar de vida. Com 55 anos e muita força
        de vontade, Carlos criou um restaurante em 18 de abril de 2011 e deu o nome de Restaurante Dom Ramon em homanagem
        a Ramón Valdés, seu irmão, que falecera naquele ano. Seu restaurante cresceu bem depressa pois Carlos tinha era
        muito simpático e com isso conquistou o Carisma da Mente das Pessoas.</p>



      <P>Seu chef, Florinda Meza, cozinhava desde pequena com 8 anos. Mesmo sendo tão jovem, ela já se interessava pela
        gastronomia, e estudava muito sobre isso. Com 12 anos, já era responsável por fazer o almoço e a janta de sua casa.
        Com tanto interesse pela culinária, sua mãe, Angelines Fernández, e seu pai,Édgar Vivar, decidiram pagar pra ela
        uma faculdade de Gastronomia em Paris. Lá Florinda aprendeu sobre gastronomia de todos os países, mas não importava
        qual país fosse, a culinária que mais lhe interessava era a de seu país natal, o Brasil. Depois que acabou a facul
        dade e voltou para o Brasil, conheceu Carlos Villagrán e ele aconvidou para trabalhar em seu restaurante, que tinha
        acabado de ser inaugurado. E assim fizeram a união que conquistou mente e estômago de todos.</P>

      <P>Após 5 anos de muito trabalho, a saúde de Carlos começou a pesar, e teve que se aposentar em prol de sua propria
        saúde. Carlos escolheu seu filho mais velho, Roberto Gómez Bolaños, que tinha 23 anos para assumir seu restaurante
        e apesar de sua falta de experiência, ele tomou as redeas do estabelecimento e cuidou dele melhor que seu pai. Com
        2 anos de trabalho e muitas melhorias, Roberto fez uma reforma completa no Restaurante, tornando o restaurante mais
        profissional e eficiente que antes.</P>

      <P> Homenagem ao grande Carlos Villagrán(clicar na imagem)</P>
      <div class="col-12 mb-5">
        <a href="https://youtu.be/d5qXkXhfDXI" target="_blank"><img src="/img/Chaves Cut.jpg" style with='200px' height='200px' class=" media-object  img-responsive img-thumbnail" alt="Chaves sentado triste"></a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>